/* font-family: 'NanumSquareRoundLight';
font-family: 'NanumSquareRound';
font-family: 'NanumSquareRoundBold';
font-family: 'NanumSquareRoundExtraBold'; */
:root{
    --bs-fontl : 'NanumSquareRoundL';
    --bs-fontb : 'NanumSquareRoundB';
    --bs-fonteb : 'NanumSquareRoundEB';
    --bs-fontr : 'NanumSquareRound';
}

.d-flex{ display: flex;}
.justify-between{ justify-content: space-between;}
.align-center{ align-items: center;}
.d-inline-block{ display: inline-block;}


.w-100{ width:100%}
.border0{ border-width:0 !important}
.strong{font-family: var(--bs-fonteb);}



#contactform{
    max-width:600px;
    margin: 0 auto;
    line-height: 1;
    font-family: var(--bs-fontr);
    font-size: 1.4rem;

    input{ border:0 }
    input:focus{ outline: none;}
    

    li{ border:3.5px solid #222; margin: 0.5em 0; padding:1em 1.3em;
        border-radius: 3.5px;
        .title{
            margin-bottom: 1em;
            strong{                
                margin-right:1em;
                font-weight: normal;
                
            }
            span{
                font-size: 0.65em;
            }
        }
        li{ border:0; margin: 0  1em  0  0; padding: 0; 
            
            label{ font-size: 0.8em;}           
        
        } 
        .hopeability{
            input{
                border:3px solid #222;
                width: 1.5em;
                height: 1.5em;
                border-radius: 3px;
            }
        }
        .position{

           label:before{ 
            content: "\f111";
            font-family: "Font Awesome 6 Free";
            font-weight: 400;
            display: inline-block;           
            vertical-align: middle;
            margin-right:0.8em;
             }

             input:checked + label:before{
                content:  "\f192";
                color:red;
             }
        }     
    [type='checkbox'],
    [type='radio']{ display: none;}

}
.agree{
    padding: 0;  
    margin-bottom: 2em;
    
    .strong{
        font-size: 0.8em;
        font-family: var(--bs-fontr);       
    }
    label:before{ 
        content: "\f111";
        font-family: "Font Awesome 6 Free";
        font-weight: 400;
        display: inline-block;           
        vertical-align: middle;
        margin-right:0.8em;
         }

    input:checked + label:before{
            content:  "\f192";
         }
   }
}
